namespace HW_18.product
{
    public class Index
    {
@Model List<product>
    @{
        <h1>@Model</h1>
    }
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered  ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">CategoryId</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var products in @Model)
                {
                    <tr>
                        <th scope="row">@products.Id</th>
                        <td>@products.Name</td>
                        <td>@products.Price</td>
                        <td>@products.CategoryId</td>
                    </tr>
                }

            </tbody>

            <caption>
                Captions of the table
            </caption>

        </table>
    </div>

    }
    }
